<head>
        <!-- Book generated using mdBook -->
        <meta charset="UTF-8">
        <title>Intro - dev-note</title>


        <!-- Custom HTML head -->

        <meta name="description" content="The example book covers examples.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="rgba(0, 0, 0, 0)">

        <link rel="icon" href="favicon.svg">
        <link rel="shortcut icon" href="favicon.png">
        <link rel="stylesheet" href="css/variables.css">
        <link rel="stylesheet" href="css/general.css">
        <link rel="stylesheet" href="css/chrome.css">
        <link rel="stylesheet" href="css/print.css" media="print">

     <!-- Social: Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Aaron technical sharing">
        <meta name="twitter:description" content="Keep Knowledge Updating">
        <meta property="twitter:image" content="img/thumb.jpg">

        <!-- Social: Facebook / Open Graph -->
        <meta property="og:url" content="/">
        <meta property="og:title" content="Aaron technical sharing">
        <meta property="og:image" content="img/thumb.jpg">
        <meta property="og:description" content="Keep Knowledge Updating">
        <meta property="og:site_name" content="Aaron technical sharing">


        <!-- Fonts -->
        <link rel="stylesheet" href="FontAwesome/css/font-awesome.css">
        <link rel="stylesheet" href="fonts/fonts.css">

        <!-- Highlight.js Stylesheets -->
        <link rel="stylesheet" href="highlight.css">
        <link rel="stylesheet" href="tomorrow-night.css" disabled="">
        <link rel="stylesheet" href="ayu-highlight.css" disabled="">

        <!-- Custom theme stylesheets -->

    </head>